#root {
  width: 100%;
  height: 100vh;
}
.color-picker-wrapper {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.color-container {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  transition: background 0.3s ease, transform 0.3s ease;
  animation: popIn 0.5s ease;
  padding: 13px 23px;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.color-container:hover {
  transform: scale(1.05);
}

.selected-color {
  font-size: 18px;
  font-weight: bold;
  animation: textAppear 1s ease-in-out;
}

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  animation: fadeIn 1.2s ease-in-out;
}

input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1.5s ease-in-out;
}

input[type="color"]:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
